<!DOCTYPE html>
<html>
  <%- include conteudo/head.ejs %>
<body>
  <%- include conteudo/menu.ejs %>
  <%- include conteudo/apresentacao.ejs %>
  <%- include conteudo/inicio.ejs %>
  <%- include conteudo/servicos.ejs %>
  <%- include conteudo/contato.ejs %>
  <%- include conteudo/footer.ejs %>
  <%- include conteudo/footerScripts.ejs %>
</body>
</html>