<!DOCTYPE html>
<html>
  <%- include conteudo/head.ejs %>
<body>
<div class='preloader'><div class='loaded'>&nbsp;</div></div>
  <%- include conteudo/menu.ejs %>
  <%- include conteudo/apresentacao.ejs %>
  <%- include conteudo/inicio.ejs %>
  <%- include conteudo/quando.ejs %>
  <%- include conteudo/abordagem.ejs %>
  <%- include conteudo/footer.ejs %>
  <%- include conteudo/footerScripts.ejs %>
<script src="js/main.js"></script>
</body>
</html>