<%- include comum/top.ejs %>

<%- include comum/menu.ejs %>
<br>
<div class="col-md-12">
    <p>(<%=total%>) Resultados encontrados para : <%=palavra_chave%></p>
</div>
<hr>



<%- include comum/footer_conteudo.ejs %>

<%- include comum/footer.ejs %>